.next
node_modules
.env*
!.env.example
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
coverage
.vercel

# clerk configuration (can include secrets)
/.clerk/

# local Cursor IDE config
.cursor/
